* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}
.form {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
}
input,
button {
  margin: 10px 0;
  width: 300px;
  height: 30px;
}
label {
  display: flex;
  flex-direction: column;
}
.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: 2px solid #000000;
  border-radius: 5px;
}
.img-active {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
