body {
  display: flex;
  justify-content: center;
  background: linear-gradient(#1a1a1a, #163562);
  height: 100vh;
}
.main {
  background: linear-gradient(#5c5c64, #0a041a);
  width: 500px;
  height: 600px;
  margin-top: 70px;
  border-radius: 20px;
  color: azure;
}
.search-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.search {
  width: 350px;
  height: 40px;
  border-radius: 8px;
  padding: 0 50px 0 20px;
  border: none;
  background-color: #252121;
  color: #eaf0f9;
}
.btn-search {
  background: #10367c;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: #eaf0f9;
  cursor: pointer;
}
.city-name {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-top: 50px;
}
.img-wrapper img {
  display: block;
  margin: 0 auto;
}
.temp-info h1 {
  text-align: center;
}
.additional-weather-info {
  text-align: center;
  font-size: 16px;
}
.weekly-weather {
  margin-top: 50px;
  text-align: center;
}
.weekly {
  display: flex;
  justify-content: space-around;
}

input:focus {
  outline: none;
  background-color: #252121;
}

.loading {
  width: 1.5em;
  height: 1.5em;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 -3em rgba(255, 255, 255, 1),
    2.25em -2.25em rgba(255, 255, 255, 0.875), 3em 0 rgba(255, 255, 255, 0.75),
    2.25em 2.25em rgba(255, 255, 255, 0.625), 0 3em rgba(255, 255, 255, 0.5),
    -2.25em 2.25em rgba(255, 255, 255, 0.375), -3em 0 rgba(255, 255, 255, 0.25),
    -2.25em -2.25em rgba(255, 255, 255, 0.125);
  animation: spin 1.2s linear infinite;
  margin-top: 80px;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}
